@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}
.app {
  font-family: Arial, sans-serif;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1440px;
  align-self: center;
}

nav {
  background-color: #00000086;
  color: white;
  padding: 10px;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999999999;
  top: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 8px 10px;
  position: relative;
  font-weight: bold;
}

nav a.active {
  background-color: #d47612;
  border-radius: 8px;
}
nav a:hover {
  background-color: #fa9e3d;
  border-radius: 8px;
}
.orangeButtan {
  background-color: #d47612 !important;
  color: #fff !important;
  border-radius: 18px;
  padding: 10px;
  width: 200px;
  font-weight: 1000;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.orangeButtan:hover {
  background-color: #fa9e3d !important;
}

/* nav a.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
} */

.page {
  padding: 20px;
  text-align: center;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 5px 0;
  }
}
.LandingPage {
  width: 100%;
}

.HeroSection {
  background-image: url(./assets/LandingImage.png);
  height: 800px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.OverView {
  display: flex;
  justify-content: center;
  background-color: #181920;
  color: #fff;
  padding-top: 10px;
}
.topcomponent {
  justify-content: center;
  background-color: #181920;
  color: #fff;
  width: 100vw;
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1d1d1d;
  color: #fff;
}
.OverlayText {
  font-size: 24px;
  font-weight: 400;
}

.objectElement {
  transition: scale 400ms;
}
.objectElement:hover {
  scale: 1.5;
}
.fit {
  width: fit-content;
}

.planetTag {
  color: rgb(162, 180, 195);
  background-color: #1010106f;
  padding: 5px;
  font-weight: bolder;
  font-size: large;
  border-radius: 6px;
}
.float {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10000;
}
.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}

.controls input,
.controls button {
  margin-right: 10px;
}

.TimeController {
  position: absolute;
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: 9999990;
  width: 100vw;
  bottom: 10px;
  justify-content: center;
}
.planetInfo {
  position: absolute;
  top: 100px;
  left: 0px;
  height: calc(100vh - 100px);
  width: 500px;
  z-index: 9999999999999999;
  background-color: #282c34;
}
/* Add these styles to your App.css file */

.desktop-menu {
  display: flex;
  list-style-type: none;
}

.desktop-menu li {
  margin-left: 20px;
}

.mobile-menu {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mobile-menu a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}
